<div class="content">
    <div class="wrapper">
        <h2>Register</h2>
        <div class="form__register">
            <form action="#">
                <div class="form__register--input">
           
                    <img src="/assets/email.svg">
                    <input type="text" required>
                    <label >email</label>
                </div>
                <div class="form__register--input">
                    <img src="/assets/lock.svg">
                    <input type="password" required>
                    <label >Contraseña</label>
                </div>
                <div class="form__register--terms">
                    <label for=""><input type="checkbox">
                        Acepto 
                        <a href="#">
                            terminos & condiciones
                        </a>
                    </label>
                </div>
                <button type="submit" class="form__register--btn">Regsitrarse</button>
                <div class="form__register--login">
                    <p>¿Ya tienes una cuenta?
                        <a href="#" class="login-link">
                            Iniciar sesion
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

