<div class="content">
    <div class="wrapper">
        <div class="wrapper-content">
            <div class="form__login">
                <h2>Login</h2>
                <form action="#">
                    <div class="form__login--input">
                        <img src="/assets/email.svg">
                        <input type="text" required>
                        <label >email</label>
                    </div>
                    <div class="form__login--input">
                        <img src="/assets/lock.svg">
                        <input type="password" required>
                        <label >Contraseña</label>
                    </div>
                    <div class="form__login--forgot">
                        <label for=""><input type="checkbox">
                            Recordar mi cuenta
                        </label>
                        <a href=""> Olvide la contraseña</a>
                    </div>
                    <button type="submit" class="form__login--btn">Login</button>
                    <div class="form__login--register">
                        <p>¿No tiene una cuenta?
                            <a href="register" class="register-link">
                                Registrarse
                            </a>
                        </p>
                    </div>
                </form>
            </div>
            
        </div>       
    </div>
</div>